---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <slot />
  </body>

  <!-- footer -->
  <div
    class="w-full bg-gray-100 border-slate-200 border-t-2 mt-36 flex text-gray-600 font-bold"
  >
    <span class="p-4 mx-auto"
      >Celotna spletna stran na
      <a href="https://lanvukusic.com/" class="underline text-gray-800"
        >lanvukusic.com</a
      >
    </span>
  </div>
</html>
